.cards-wrapper {
  width: 100%;
}

.cards-wrapper .cards.block {
  max-width: var(--layout-width);
  height: 720px;
  margin: auto auto 40px;
  overflow: hidden;
}

.cards-wrapper .cards.block picture {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cards-wrapper .cards.block.latest,
.cards-wrapper .cards.block.columns,
.cards-wrapper .cards.block.hero {
  height: auto;
}

.cards-wrapper .cards.block.columns {
  margin-bottom: 100px;
}

.cards-wrapper .cards.block .date-string {
  display: none;
}

.cards-wrapper .cards.block .card-block-wrapper {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
}

.cards-wrapper .cards.block .card-block-wrapper.reverse {
  flex-direction: row-reverse;
}

.cards-wrapper .cards.block .card-block-wrapper .main-card,
.cards-wrapper .cards.block .card-block-wrapper .small-card {
  color: white;
  text-decoration: none;
  position: relative;
  flex: 1 1 0;
}

.cards-wrapper .cards.block.hero .card-block-wrapper .main-card {
  width: 50%;
  aspect-ratio: 1/1;
}

.cards-wrapper .cards.block .card-block-wrapper .main-card .image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-wrapper .cards.block .card-block-wrapper .main-card .image-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 3s;
}

.cards-wrapper .cards.block .card-block-wrapper .main-card:hover .image-bg img {
  transform: scale(1.2);
}

.cards-wrapper .cards.block .card-block-wrapper .main-card .main-text-wrapper {
  background: linear-gradient(180deg, transparent 50%, #000);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cards-wrapper .cards.block .card-block-wrapper .headline > * {
  display: block;
  color: #151517;
  font-family: var(--font-gotham);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}

.cards-wrapper .cards.block.latest .card-block-wrapper .headline > h3 {
  font-size: 18px;
}

.cards-wrapper .cards.block .card-block-wrapper .main-card .main-text-wrapper .headline > h3 {
  margin: 0;
  font-family: var(--font-tungsten);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  line-height: 103%;
  font-size: 37px;
  color: white;
}

.cards-wrapper .cards.block .card-block-wrapper .main-card .main-text-wrapper .section {
  color: #adb4b7;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.cards-wrapper .cards.block .card-block-wrapper .secondary-cards {
  height: 100%;
  flex: 1 1 0;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-wrapper .cards.block.latest .cards-title-wrapper,
.cards-wrapper .cards.block.columns .cards-title-wrapper {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 25px;
}

.cards-wrapper .cards.block.latest .cards-title-wrapper .cards-title,
.cards-wrapper .cards.block.columns .cards-title-wrapper .cards-title {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: var(--font-tungsten);
}

.cards-wrapper .cards.block .cards-title-wrapper .cards-title {
  font-size: 28px;
}

.cards-wrapper .cards.block.latest .cards-title-wrapper .cards-title::before,
.cards-wrapper .cards.block.columns .cards-title-wrapper .cards-title::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  margin-right: 10px;
  background-color: #ed3e49;
}

.cards-wrapper .cards.block.latest .card-block-wrapper {
  justify-content: space-between;
}

.cards-wrapper .cards.block.latest .card-block-wrapper .latest-rail {
  width: 40%;
}

.cards-wrapper .cards.block.columns .card-block-wrapper .main-card {
  aspect-ratio: unset;
  width: 50%;
}

.cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card {
  box-sizing: border-box;
  border: 0.5px solid #e5e5e5;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: transform 3s;
}

.cards-wrapper
  .cards.block.columns
  .card-block-wrapper
  .secondary-cards
  .small-card
  .image-wrapper::before {
  content: "";
  display: block;
  padding-top: 56%;
  width: 100%;
}

.cards-wrapper
  .cards.block
  .card-block-wrapper
  .secondary-cards
  .small-card:hover
  .image-wrapper
  img {
  transform: scale(1.2);
}

.cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card .image-wrapper {
  width: 322px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card .small-text-wrapper {
  flex: 1 1 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cards-wrapper
  .cards.block
  .card-block-wrapper
  .secondary-cards
  .small-card
  .small-text-wrapper
  .section {
  color: #adb4b7;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.cards-wrapper .cards.block.gd .date-string {
  display: block;
}

.cards-wrapper
  .cards.block
  .card-block-wrapper
  .secondary-cards
  .small-card
  .small-text-wrapper
  .date-string {
  margin-top: 10px;
  font-family: var(--font-gotham);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #adb4b7;
}

.cards-wrapper .cards.block.gd .card-block-wrapper .gd-cards-wrapper,
.cards-wrapper .cards.block.gd .card-block-wrapper .main-card {
  flex: 1 1 0;
}

@media (max-width: 1280px) {
  .cards-wrapper .cards.block .cards-title-wrapper .cards-title {
    font-size: 24px;
  }

  .cards-wrapper .cards.block:not(.hero) {
    height: auto;
  }

  .cards-wrapper .cards.block .card-block-wrapper {
    gap: 14px;
  }

  .cards-wrapper .cards.block:not(.hero) .card-block-wrapper {
    flex-direction: column;
  }

  .cards-wrapper .cards.block:not(.hero) .card-block-wrapper.reverse {
    flex-direction: column;
  }

  .cards-wrapper .cards.block:not(.hero) .card-block-wrapper a.main-card {
    aspect-ratio: 1.29/1;
    flex: none;
    width: 100%;
  }

  .cards-wrapper .cards.block .card-block-wrapper a.main-card .main-text-wrapper {
    padding: 18px;
  }

  .cards-wrapper .cards.block.columns .card-block-wrapper div.secondary-cards {
    width: 100%;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card {
    min-height: 224px;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card .image-wrapper {
    min-width: 322px;
  }

  .cards-wrapper .cards.block.gd .card-block-wrapper .secondary-cards .small-card .image-wrapper {
    width: auto;
    min-width: 186px;
  }

  .cards-wrapper .cards.block.gd .card-block-wrapper .main-card {
    max-width: none;
    max-height: none;
    aspect-ratio: 1/1;
    width: 100%;
    flex: none;
  }

  .cards-wrapper .gd-plus-title {
    font-size: 24px;
  }

  .cards-wrapper .cards.block.columns .cards-title-wrapper .cards-title {
    font-size: 24px;
  }

  .landing-page
    main
    .cards-wrapper
    .cards.block.columns
    .card-block-wrapper
    .secondary-cards
    .small-card
    .image-wrapper {
    height: auto;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 1024px) {
  .cards-wrapper .cards.block.latest .card-block-wrapper {
    gap: 0;
  }

  .cards-wrapper .cards.block.latest .card-block-wrapper .headline > h3 {
    font-size: 16px;
  }

  .cards-wrapper .cards.block.latest .card-block-wrapper div.secondary-cards {
    width: 100%;
    max-width: 708px;
    gap: 14px;
    margin-bottom: 40px;
  }

  .cards-wrapper .cards.block.latest .card-block-wrapper div.secondary-cards .small-card {
    min-height: 132px;
  }

  .landing-page
    main
    .cards-wrapper
    .cards.block.latest
    .card-block-wrapper
    .secondary-cards
    .small-card
    .image-wrapper {
    width: 202px;
    height: 130px;
    min-width: 202px;
    min-height: 130px;
  }
}

@media (max-width: 768px) {
  .cards-wrapper .cards.block.columns {
    margin-bottom: 40px;
  }

  .cards-wrapper .cards.block .card-block-wrapper .main-card .main-text-wrapper .headline > h3 {
    font-size: 28px;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards {
    gap: 0;
  }

  .cards-wrapper .cards.block.latest .card-block-wrapper div.secondary-cards {
    width: 100%;
    max-width: none;
    gap: 0;
  }

  .cards-wrapper .cards.block.hero div.card-block-wrapper {
    flex-direction: column;
  }

  .cards-wrapper .cards.block.hero div.card-block-wrapper.reverse {
    flex-direction: column;
  }

  .cards-wrapper .cards.block.hero {
    height: auto;
  }

  .cards-wrapper .cards.block.hero .card-block-wrapper .main-card {
    width: 100%;
    flex: none;
  }

  .landing-page
    main
    .cards-wrapper
    .cards.block
    .card-block-wrapper
    .secondary-cards
    .small-card
    .small-text-wrapper
    .headline
    > h3 {
    font-size: 14px;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card {
    min-height: 157px;
    border-top: 0;
    border-style: solid;
    border-color: #e5e5e5;
  }

  .cards-wrapper .cards.block.columns .card-block-wrapper div.secondary-cards .small-card {
    flex-direction: row;
    min-height: min-content;
    height: auto;
  }

  .cards-wrapper .cards.block.latest .card-block-wrapper .secondary-cards a.small-card,
  .cards-wrapper .cards.block.latest .card-block-wrapper .secondary-cards a.small-card:first-child {
    min-height: auto;
    max-height: none;
    height: auto;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards a.small-card:first-child {
    min-height: 157px;
    border-top: 0.5px;
    border-style: solid;
    border-color: #e5e5e5;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card .small-text-wrapper {
    padding-left: 0;
  }

  .cards-wrapper .cards.block .card-block-wrapper .secondary-cards .small-card .image-wrapper {
    max-width: 100%;
    min-width: 0;
    height: auto;
    width: calc(32% - 15px);
    margin: 15px;
    aspect-ratio: 16/9;
  }

  .landing-page
    main
    .cards-wrapper
    .cards.block.latest
    .card-block-wrapper
    .secondary-cards
    .small-card
    .image-wrapper {
    width: 132px;
    height: 85px;
    min-width: 132px;
    min-height: 85px;
  }

  .cards-wrapper .cards.block.columns .card-block-wrapper div.secondary-cards {
    display: flex;
  }

  .landing-page
    main
    .cards-wrapper
    .cards.block.columns
    .card-block-wrapper
    .secondary-cards
    .small-card
    .image-wrapper {
    max-width: 100%;
    min-width: 0;
    height: calc(100% - 30px);
    width: calc(32% - 15px);
    margin: 15px;
    aspect-ratio: 16/9;
  }
}

.cards-wrapper .gd-plus-title {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: -9px;
  font-family: var(--font-tungsten);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 28px;
}

.cards-wrapper .gd-plus-title::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  margin-right: 10px;
  background-color: #ed3e49;
}

.cards-wrapper .cards.block.gd {
  height: auto;
}

.cards-wrapper .cards.block.gd .card-block-wrapper .main-card {
  max-width: 693px;
}

@media (max-width: 1280px) {
  .cards-wrapper .cards.block.gd .card-block-wrapper .main-card {
    max-width: none;
  }
}

.cards-wrapper .cards.block.gd .secondary-cards {
  padding: 20px 35px 25px;
  box-sizing: border-box;
  border: 0.5px solid #e5e5e5;
  background-color: white;
  gap: 0;
  height: 100%;
}

.cards-wrapper .cards.block.latest .card-block-wrapper .secondary-cards {
  width: 60%;
  margin-bottom: 100px;
}

.cards-wrapper .cards.block.gd .secondary-cards .small-card {
  flex: none;
  flex-wrap: wrap;
  padding-top: 15px;
  border: none;
  min-height: 120px;
  padding-bottom: 26px;
  border-bottom: 0.5px solid #e5e5e5;
}

.cards-wrapper .cards.block.columns .card-block-wrapper .secondary-cards .small-card {
  align-content: flex-start;
  flex-flow: column nowrap;
}

.cards-wrapper .cards.block.columns .card-block-wrapper .secondary-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.cards-wrapper .cards.block.latest .card-block-wrapper .secondary-cards .small-card {
  min-height: 224px;
}

.cards-wrapper .cards.block.gd .secondary-cards .small-card .image-wrapper {
  width: 186px;
  height: 120px;
  box-sizing: content-box;
}

.cards-wrapper .cards.block.columns .card-block-wrapper .secondary-cards .small-card .image-wrapper {
  width: 100%;
  height: auto;
}

.cards-wrapper .cards.block.gd .secondary-cards .small-card .small-text-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  flex: 1 1 0;
}

.cards-wrapper
  .cards.block.columns
  .card-block-wrapper
  .secondary-cards
  .small-card
  .small-text-wrapper {
  height: 44%;
}

.cards-wrapper .cards.block .gd-plus-icon-img {
  height: 19px;
  width: 51px;
  margin-bottom: 4px;
}

.cards-wrapper .cards.block.gd .secondary-cards .small-card:first-of-type {
  height: 236px;
  min-height: 130px;
  width: calc(100% + 18px);
  margin-left: -9px;
}

.cards-wrapper .cards.block.gd .secondary-cards .small-card:first-of-type .image-wrapper {
  width: 303px;
  height: 195px;
  padding-bottom: 0;
}

.cards-wrapper .cards.block.gd .secondary-cards .small-card:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

@media (max-width: 768px) {
  .cards-wrapper .cards.block.gd .card-block-wrapper .secondary-cards {
    padding: 15px;
  }

  .cards-wrapper .cards.block.gd .card-block-wrapper .secondary-cards .small-card {
    height: 149px;
    gap: 15px;
  }

  .cards-wrapper .cards.block.gd .card-block-wrapper .secondary-cards .small-card .image-wrapper {
    margin: 0;
    width: 150px;
    min-width: 0;
    height: 93px;
  }

  .cards-wrapper .gd-plus-title {
    width: 100%;
    margin-left: 9px;
  }

  .cards-wrapper .cards.block.gd .secondary-cards .small-card:first-of-type {
    height: 149px;
    gap: 15px;
    width: 100%;
    margin: 0;
  }

  .cards-wrapper .cards.block.gd .secondary-cards a.small-card:first-of-type .image-wrapper {
    width: 150px;
    min-width: 0;
    height: 93px;
    margin: 0;
  }
}
