.galleryimage-container {
  width: 1440px;
  max-width: 100%;
  margin-top: 30px;
}

.galleryimage-wrapper {
  counter-increment: blockCounter;
}

.gallery .slide-info {
  padding-top: 20px;
  padding-left: 20px;
  max-width: 780px;
}

.gallery .slideshow-wrapper .pv-photo-info {
  position: absolute;
  z-index: 2;
  bottom: -21px;
  left: 32px;
  max-width: 80%;
}

.gallery .slideshow-wrapper .pv-photo-credit {
  padding: 5px 10.5px;
  font-family: GothamGD, arial, sans-serif;
  color: #fff;
  background: rgb(0 0 0 / 40%);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.gallery .slideshow-counter {
  font-family: GothamGD, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 13px;
  letter-spacing: 0;
  font-weight: 500;
}

.gallery .slideshow-counter .counter-display {
  margin-right: 10px;
}

.gallery .promo-description {
  font-family: GothamGD, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
}

.gallery .promo-description p {
  font-family: GothamGD, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
}

.gallery .photo-credit {
  color: #adb4b7;
  margin: 0;
}

.galleryimage-wrapper .promo-headline {
  width: 100%;
}

.gallery-listicle-theme .promo-headline::before {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  content: counter(blockCounter);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-right: 12px;
  background-color: #ed3e49;
  border-radius: 100%;
  color: #fff;
  font-family: Gotham, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 30px;
  width: 30px;
}
