.long-form-wrapper .long-form.block .container {
    margin: 0 auto;
    --article-width: 800px;
}

.long-form-wrapper .long-form.block .container-article {
    margin-bottom: 30px;
}

.long-form-wrapper .long-form.block .article-content {
    color: #000;
    background-color: #fff;
    transition: background-color .75s,color .75s;
    margin-bottom: 30px;
}

.long-form-wrapper .long-form.block .article-content.dark {
    color: #fff;
    background: #151517;
}

.long-form-wrapper .long-form.block .attribution a {
    color: inherit;
    text-decoration: none;
}

.long-form-wrapper .long-form.block .article-body a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.long-form-wrapper .long-form.block .article-body strong > a {
    text-decoration: underline;
}

.long-form-wrapper .long-form.block .article-body p em > a {
    font-weight: 500;
    text-decoration: underline;
}

.long-form-wrapper .long-form.block .article-content.dark a {
    color: white;
}

.long-form-wrapper .long-form.block .lead {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .lead {
        display: grid;
        grid-template-rows: 750px auto;
        grid-template-columns: 1fr min(230px,10%) min(400px,40%) min(400px,40%) min(230px,10%) 1fr;
    }
}

.long-form-wrapper .long-form.block .headline {
    padding: 15px;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 2/span 4;
        grid-row: 1;
        height: 100%;
        padding: 50px 50px 160px;
        justify-content: flex-end;
        z-index: 2;
        text-align: center;
    }
}

.long-form-wrapper .long-form.block .headline .rubric {
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
    color: #adb4b7;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media (min-width: 769px) {
    .long-form-wrapper .long-form.block .headline .rubric {
        font-size: 13px;
        line-height: 12.44px;
    }
}

.long-form-wrapper .long-form.block .headline h1 {
    font-style: normal;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 2em;
    margin: 0.67em 0;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .headline h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 50px;
    }
}

.long-form-wrapper .long-form.block .headline .description {
    font-weight: 400;
    color: inherit;
    display: block;
    margin: 20px 0;
}

.long-form-wrapper .long-form.block .article-body > div > div > div > p {
    line-height: 30px;
    margin: 0 auto 20px;
    padding: 0 20px;
    max-width: var(--article-width);
}

.long-form-wrapper .long-form.block .article-body h2 {
    font-family: var(--font-tungsten);
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: .05em;
    text-decoration: underline;
    text-decoration-color: var(--link-hover-color);
    text-decoration-thickness: 2px;
    text-underline-position: under;
    text-align: center;
}

.long-form-wrapper .long-form.block .article-body div > h2 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 20px;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .article-body > div > div > div > p {
        padding: 0 15px 0 35px;
        margin-bottom: 60px;
    }

    .long-form-wrapper .long-form.block .article-body div > h2 {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

.long-form-wrapper .long-form.block .headline .description p {
    margin: 0;
}

@media (min-width: 769px) {
    .long-form-wrapper .long-form.block .headline .description {
        font-size: 18px;
        line-height: 30px;
    }
}

.long-form-wrapper .long-form.block .lead > .byline {
    display: flex;
    padding-top: 60px;
    grid-column: 1/3;
    grid-row: 1;
    position: relative;
    width: 100%;
    top: 100%;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.long-form-wrapper .long-form.block .headline .byline {
    display: flex;
    align-items: center;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .headline .byline {
        display: none;
    }
}

@media (max-width: 1024px) {
    .long-form-wrapper .long-form.block .lead > .byline {
        display: none;
    }
}

.long-form-wrapper .long-form.block .lead .image {
    grid-column: 1/-1;
    grid-row: 1;
    height: 100%;
}

.long-form-wrapper .long-form.block .lead picture {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}

.long-form-wrapper .long-form.block .lead picture::after {
    background: linear-gradient(.01deg,#151517 .22%,rgb(21 21 23 / 0%) 70%);
    z-index: 1;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .lead picture {
        position: absolute;
    }
}

.long-form-wrapper .long-form.block .lead img {
    object-position: 50% 10%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.long-form-wrapper .long-form.block .attribution {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin-bottom: 10px;
}

@media (min-width: 769px) {
    .long-form-wrapper .long-form.block .attribution {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 1025px) {
    .long-form-wrapper .long-form.block .attribution {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .long-form-wrapper .long-form.block .headline > .byline {
        margin-bottom: 45px;
    }
}

.long-form-wrapper .long-form.block .attribution a:hover {
    text-decoration: underline;
}

.long-form-wrapper .long-form.block .publication {
    color: #adb4b7;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .publication {
        margin-bottom: 42px;
    }
}

.long-form-wrapper .long-form.block .publication .separator {
    display: block;
    border-left: 1px solid #e6e6e6;
    height: 0.8em;
    margin: 0 10px;
}

.long-form-wrapper .long-form.block .byline .social-share .label {
    display: none;
}

.long-form-wrapper .long-form.block .lead > .byline .social-share .columns {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.long-form-wrapper .long-form.block .byline .credit {
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    color: #9a9a9a;
}

.long-form-wrapper .long-form.block .article-body {
    margin: auto;
    padding-bottom: 60px;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .article-body {
        padding-top: 60px;
    }
}

.long-form-wrapper .long-form.block .article-body hr {
    margin: 0 35px 60px;
}

.long-form-wrapper .long-form.block .article-body div > p.highlight {
    font-size: 18px;
    margin-top: 0;
}

.long-form-wrapper .long-form.block .article-body img {
    width: 100%;
    height: auto;
}

.long-form-wrapper .long-form.block .article-body a:hover {
    color: var(--link-hover-color);
}

.long-form-wrapper .long-form.block .article-body .photo-credit {
    border-bottom: 1px solid #c4c4c4;
    max-width: 635px;
    font-size: 12px;
    line-height: 16px;
    color: #adb4b7;
    padding: 15px;
    margin: 0 auto 30px;
}

@media (min-width: 1025px) {
    .long-form-wrapper .long-form.block .article-body .photo-credit {
        margin-bottom: 60px;
    }
}

.long-form-wrapper .long-form.block .article-body .fullscreen {
    margin-bottom: 0;
}

.long-form-wrapper .long-form.block .article-body .fullscreen img {
    position: relative;
    background-color: #ededed;
    width: 100vw;
    object-fit: contain;
    max-height: 850px;
}
