.gallery.block {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.gallery.block .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.gallery.block .container-article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gallery.block .container-article img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 10px auto 0;
}

@media (max-width: 768px) {
  .gallery.block .container-article {
    flex-direction: column;
  }
}

.gallery.block .article-content,
.gallery.block .container-aside {
  padding: 0 10px;
}

@media (min-width: 1024px) {
  .gallery.block .article-content {
    width: 72%;
  }

  .gallery.block .container-aside {
    width: 28%;
  }
}

.gallery.block .rubric {
  color: #adb4b7;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11.48px;
  letter-spacing: .1em;
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  .gallery.block .rubric {
    font-size: 13px;
    line-height: 12.44px;
  }
}

.gallery.block .headline h1 {
  font-size: 40px;
  margin: 0.67em 0 20px;
}

@media (max-width: 1280px) {
  .gallery.block .headline h1 {
    margin-block-start: 20px
  }
}

.gallery .article-body > div p {
  margin: 0 auto 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.gallery.block .headline h1 + p {
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0;
}

.gallery.block .headline h1 + p,
.gallery.block .headline h1 + p strong {
  font-weight: 500;
}

.gallery.block .byline {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.gallery.block .attribution {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 45px;
}

@media (min-width: 769px) {
  .gallery.block .attribution {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1025px) {
  .gallery.block .attribution {
    margin-bottom: 10px;
  }
}

.gallery .article-body > div a {
  color: black;
  text-decoration: none;
}

.gallery.block .attribution a {
  color: #000;
  text-decoration: none;
}

.gallery .article-body > div a:hover {
  color: var(--link-hover-color);
}

.gallery .article-body .social-share {
  margin-top: 72px;
}

.gallery.block .publication {
  display: flex;
  align-items: baseline;
  color: #adb4b7;
  font-size: 14px;
  font-weight: 700;
}

.gallery.block .publication::before {
  content: "";
  display: block;
  border-left: 2px solid #e6e6e6;
  height: 14px;
  margin: 0 5px;
}

.gallery.block .byline .sharing {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.gallery.block .byline .sharing .social-share .label {
  display: none;
}

@media (max-width: 768px) {
  .gallery.block .byline .sharing {
    display: none;
  }
}

.gallery.block .social-share .columns {
  gap: 8px;
}

.gallery.block .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery.block .carousel.is-transitioning {
  visibility: hidden;
}

.gallery.block .carousel > div > p:first-of-type {
  position: relative;
  margin: 0;
}

.gallery.block .carousel > div > p:not(:first-of-type) {
  padding-top: 20px;
  padding-left: 20px;
  max-width: 780px;
  margin-left: 0;
  margin-top: 0;
}

.gallery.block .carousel > div > p:last-of-type {
  margin-bottom: 0;
}

.gallery.block .carousel img {
  padding: 15px;
  background-color: #f2f2f2;
}

.gallery.block .carousel .next,
.gallery.block .carousel .prev {
  position: absolute;
  top: calc(50% - 25px);
  color: #fff;
  background: rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.gallery.block .carousel .next {
  right: 27px;
}

.gallery.block .carousel .next span {
  display: none;
}

.gallery.block .carousel .prev {
  left: 27px;
}

.gallery.block .carousel .next.has-label {
  border-radius: 3rem;
  height: 50px;
  width: auto;
  padding-left: 28px;
}

.gallery.block .carousel .next.has-label span {
  display: inline ;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .3em;
  padding-right: 10px;
}

.gallery.block .carousel .next svg,
.gallery.block .carousel .prev svg {
  width: 27px;
  height: 27px;
}

.gallery.block .carousel .count {
  font-weight: 500;
  text-align: right;
  margin-right: 8px;
  margin-top: 8px;
}

.gallery.block .carousel div.photo-credit {
  position: absolute;
  bottom: 52px;
  left: 20px;
  padding: 5px 10.5px;
  color: #fff;
  background: rgb(0 0 0 / 40%);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
}

.gallery.block .carousel span.photo-credit {
  color: #adb4b7;
  font-size: 14px;
  padding-left: 20px;
  line-height: 19px;
}
