/* leaderboard nav layout */
.o-Leaderboard {
  border-bottom: 1px solid #e6e6e6;
  display: none;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto
}

.o-Leaderboard__m-Players,
.o-Leaderboard__m-Players__m-Player {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.o-Leaderboard__m-Players__m-Player {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #e6e6e6
}

.o-Leaderboard__m-Players__m-Player__a-PlayerScore p {
  font-size: 14px;
  margin: 0;
  font-family: Gotham, arial, sans-serif;
  font-weight: 500;
  color: #151517
}

.o-Leaderboard__m-Players__m-PlayerMain__a-Place {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #151517
}

.o-Leaderboard__m-Players__m-PlayerMain__a-Name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #151517;
  margin-bottom: 5px
}

.o-Leaderboard__m-Players__m-PlayerMain__a-Name h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 500
}

.o-Leaderboard__m-Players__m-PlayerMain__a-Name i {
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 12px;
  background-position: 50%;
  margin-right: 10px
}

.o-Leaderboard__m-Players__m-PlayerMain__a-Record {
  margin: 0;
  margin-left: 10px;
  font-size: 11px;
  color: #adb4b7
}

.o-Leaderboard__m-EventInfo__a-EventTitle {
  font-size: 12px;
  font-weight: 500
}

.o-Leaderboard__m-EventInfo__a-EventLocation {
  font-size: 11px;
  line-height: 13px
}

.o-Leaderboard__m-EventInfo__a-EventLocation,
.o-Leaderboard__m-EventInfo__a-EventTitle {
  margin-top: 0;
  color: #151517;
  margin-bottom: 5px
}

.o-Leaderboard__m-LinkContainer__a-Link {
  color: #151517;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: .3em;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500
}

.o-Leaderboard__m-LinkContainer__a-Link svg {
  margin-left: 10px
}

.o-Leaderboard__m-EventInfo,
.o-Leaderboard__m-LinkContainer {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width:1400px) {
  .o-Leaderboard__m-Players {
    overflow-x: auto
  }

  .o-Leaderboard__m-Players__m-PlayerMain {
    margin-right: 20px
  }

  .o-Leaderboard__m-Players__m-PlayerMain__a-Name h5 {
    white-space: nowrap
  }

  .o-Leaderboard__m-EventInfo {
    max-width: 25%
  }
}

@media (min-width:1281px) {
  .o-Leaderboard__m-LinkContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media (max-width:1280px) {
  .o-Leaderboard__m-LinkContainer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

@media (max-width:768px) {
  .o-Leaderboard {
    display: grid !important;
    grid-template-areas: " a b b b "" c c c c "
  }

  .o-Leaderboard__m-Players {
    grid-area: b
  }

  .o-Leaderboard__m-EventInfo {
    grid-area: a;
    max-width: 100%
  }

  .o-Leaderboard__m-LinkContainer {
    grid-area: c;
    border-top: 1px solid #e6e6e6;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .o-Leaderboard__m-LinkContainer__a-Link {
    white-space: nowrap
  }
}

/* header and nav layout */
header {
  position: sticky;
  top: 0;
}

header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  padding: 0 2rem;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  height: var(--nav-height);
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger brand''sections sections''tools tools';
  grid-template-columns: 56px 1fr;
  overflow-y: scroll;
  min-height: 100vh;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
}

header nav .nav-sections ul {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections li {
  font-size: 20px;
  font-weight: 500;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 16px 2rem;
  }

  header nav .nav-sections>ul>li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections {
    display: unset;
  }

  header nav .nav-brand {
    flex: 0 0 150px;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }

  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections>ul>li {
    padding: 0 16px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding-top: 0;
  }

  header nav .nav-sections>ul>li>p {
    margin: 0;
  }

  header nav .nav-sections>ul>li>ul {
    margin-top: 20px;
    display: none;
    position: relative;
  }

  header nav .nav-sections>ul>li>ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections>ul>li>ul::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--highlight-background-color);
    top: -15px;
    left: 20px;
  }


  header nav .nav-sections>ul>li>ul>li {
    font-size: 18px;
    padding: 8px 16px;
  }

  header nav .nav-sections>ul>li[aria-expanded='true'] ul {
    display: block;
    position: absolute;
    background-color: var(--highlight-background-color);
    width: 300px;
    left: 0;
    padding: 16px;
    box-shadow: 0 0 5px var(text-color);
  }
}