.header {
    z-index: 5000000;
    position: sticky;
    top: -1px
}

.header-TopBar {
    height: 80px;
    font-weight: 500;
    grid-template-columns: 1fr 1fr 1fr
}

.header-BottomBar,
.header-TopBar {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    padding-left: 15px;
    padding-right: 15px
}

.header-BottomBar {
    grid-template-columns: 1fr auto 1fr;
    height: 70px
}

.header-BottomBar.no-children {
    height: 0
}

.header-BottomBar.no-children .o-Header__a-SubChannel,
.header-BottomBar.no-children .separator {
    display: none
}

.header-TopLeft {
    display: flex;
    align-items: center
}

.header-TopLeft>* {
    padding-right: 20px;
    font-size: 14px
}

.header-MenuButton svg {
    width: 25px;
    height: 15px
}

.header-ChannelCrumb {
    display: flex;
    padding-left: 20px
}

.header-ChannelCrumb>* {
    margin-right: 20px;
    font-size: 14px
}

.header-Channel.inactive {
    color: #adb4b7
}

.header-Link {
    color: inherit
}

.header .searchForm {
    background-color: #fff;
    overflow: hidden;
    width: 0;
    transition: transform .3s, opacity .3s, width .3s;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);
    visibility: hidden
}

.header .searchForm.is-Open {
    pointer-events: all;
    width: 400px;
    max-width: 100%;
    opacity: 1;
    transform: translateX(0);
    visibility: visible
}

.header .searchForm-Area {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.header .searchForm-Area input[type=submit] {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 10000px
}

.header .searchForm-Input {
    border: 1px solid #ededed;
    box-sizing: border-box;
    font-family: Gotham, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    width: 350px;
    height: 40px;
    padding: 12px 15px;
    color: #151517
}

.header .searchForm-Input:focus-visible {
    outline: none
}

/* stylelint-disable */
.header .searchForm-Input::-webkit-input-placeholder,
.header .searchForm-Input::-moz-placeholder,
.header .searchForm-Input::-ms-input-placeholder,
.header .searchForm-Input::placeholder {
    color: #adb4b7
}

.header-Overlay {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    top: 0;
    right: 0;
    left: 0
}

.header-Overlay .header-Close {
    background: none;
    border: none;
    float: left;
    position: relative;
    left: 315px;
    margin: 25px
}