.trending-banner-wrapper .trending-banner.block .trending-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  overflow-x: auto;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-heading {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 9px 15px;
  width: 132px;
  height: 28px;
  z-index: 1;
  background-color: #e8b94d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-heading span {
  font-size: 10px;
  letter-spacing: 1px;
  font-family: var(--font-gotham);
  text-transform: uppercase;
  font-weight: 500;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content {
  list-style: none;
  display: flex;
  gap: 2px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-item {
  width: 220px;
  height: 220px;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-item .trending-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-text-wrapper {
  width: 100%;
  padding: 15px;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-text-wrapper .trending-title {
  margin: 0;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  font-family: var(--font-gotham);
  line-height: 130%;
  position: relative;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-image-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
  background: linear-gradient(180deg, transparent 30%, #000);
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-image-wrapper picture {
  width: 100%;
  height: 100%;
}

.trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-image-wrapper picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-content .trending-item {
    width: 180px;
    height: 180px;
  }

  .trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-heading {
    width: 93px;
    height: 22px;
    padding: 7px 12px;
  }

  .trending-banner-wrapper .trending-banner.block .trending-wrapper .trending-heading span {
    font-size: 8px;
  }
}
