.hero.block {
    display: grid;
    grid-template-columns: 1fr min(var(--layout-width),100%) 1fr;
}

.hero.block a {
    text-decoration: none;
}

.hero.block .hero-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min(835px,50%) min(835px,50%) 1fr;
    grid-column: 1/-1;
}

.hero.block .hero-container::after {
    content: "";
    grid-column: 2/4;
    grid-row: 1;
    display: block;
    padding-bottom: 130%;
}

@media (min-width: 769px) {
    .hero.block .hero-container::after {
        padding-bottom: 90%;
    }
}

@media (min-width: 1281px) {
    .hero.block .hero-container::after {
        padding-bottom: 56%;
    }
}

.hero.block .hero-image-container {
    overflow: hidden;
    position: relative;
    grid-column: 1/-1;
    grid-row: 1;
}

.hero.block .hero-image-container::after {
    z-index: 1;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero.block.text-right .hero-image-container::after {
    background: linear-gradient(to top left,#151517 .22%,rgb(21 21 23 / 0%) 99.99%);
}

.hero.block.text-center .hero-image-container::after {
    background: linear-gradient(0deg,#151517 .22%,rgb(21 21 23 / 0%) 99.99%);
}

.hero.block.text-left .hero-image-container::after {
    background: linear-gradient(to top right,#151517 .22%,rgb(21 21 23 / 0%) 99.99%);
}

.hero.block .hero-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

.hero.block .hero-text-container {
    display: flex;
    height: 100%;
    grid-row: 1;
    grid-column: 1/-1;
    padding-bottom: 40px;
    z-index: 1;
}

@media (min-width: 769px) {
    .hero.block .hero-text-container {
        grid-column: 2/4;
        padding: 30px 30px 115px;
    }
}

@media (min-width: 1281px) {
    .hero.block .hero-text-container {
        padding: 100px 100px 190px;
    }
}

.hero.block.text-right .hero-text-container {
    justify-content: flex-end;
}

.hero.block.text-left .hero-text-container {
    justify-content: flex-start;
}

.hero.block.text-center .hero-text-container {
    justify-content: center;
    text-align: center;
}

.hero.block .hero-text-container a {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

@media (min-width: 769px) {
    .hero.block .hero-text-container a {
        width: 70%;
    }
}

@media (min-width: 1281px) {
    .hero.block .hero-text-container a {
        width: 43%;
    }
}

.hero.block :is(h1, h2) {
    color: #fff;
    font-family: var(--font-tungsten);
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    margin: 0;
    line-height: 98%;
    font-size: 2em;
}

@media (min-width: 1025px) {
    .hero.block :is(h1, h2) {
        padding-bottom: 15px;
        font-size: 50px;
    }
}

@media (min-width: 1281px) {
    .hero.block :is(h1, h2) {
        font-size: 67px;
    }
}

.hero.block :is(h1, h2) + p {
    color: #fff;
    font-family: var(--font-gotham);
    font-weight: 400;
    line-height: 130%;
    font-size: 14px;
    padding-bottom: 20px;
}

@media (min-width: 1281px) {
    .hero.block :is(h1, h2) + p {
        font-size: 20px;
        padding-bottom: 25px;
    }
}

.hero.block .hero-text-container .button-container {
    margin-bottom: 25px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: var(--font-gotham);
    font-weight: 700;
    line-height: 130%;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.hero.block.text-center .hero-text-container .button-container {
    justify-content: center;
}

@media (min-width: 769px) {
    .hero.block .hero-text-container .hero-button-container {
        font-size: 14px;
    }
}

.hero.block .hero-text-container .button-container .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    width: 20px;
    height: 20px;
    background: #ed3e49;
    transition: background .2s;
}

.hero.block .hero-text-container .button-container:hover .icon-container {
    background: #000;
}

.hero.block .hero-cards-container {
    padding: 15px 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 0 auto;
    border: .5px solid #e5e5e5;
    background: #fff;
    grid-column: 1/-1;
}

@media (min-width: 769px) {
    .hero.block .hero-cards-container {
        padding: 15px;
        margin-top: -75px;
        width: 90%;
        grid-column: 2/-1;
    }
}

@media (min-width: 1281px) {
    .hero.block .hero-cards-container {
        padding: 10px 15px;
        margin-top: -110px;
        margin-right: 0;
        width: 85%;
        max-width: 1503px;
        flex-direction: row;
    }
}

.hero.block .hero-cards-container a {
    display: flex;
    margin-bottom: 15px;
}

@media (min-width: 1281px) {
    .hero.block .hero-cards-container a {
        width: 33.33%;
    }
}

@media (min-width: 1281px) {
    .hero.block .hero-cards-container a {
        margin-bottom: 0;
    }
}

.hero.block .hero-cards-container picture {
    display: block;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 120px;
}

.hero.block .hero-cards-container img {
    position: absolute;
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
    transition: transform 3s;
}

.hero.block .hero-cards-container a:hover img {
    transform: scale(1.2);
}

.hero.block .hero-cards-container a div {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 15px;
}

@media (min-width: 1281px) {
    .hero.block .hero-cards-container a div {
        padding: 0 15px 24px;
    }
}

.hero.block .hero-cards-container a span {
    color: #adb4b7;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: .1em;
    margin-bottom: 10px;
}

.hero.block .hero-cards-container a .hero-card-title {
    display: block;
    color: #151517;
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-top: 10px;
}
