.open-article-wrapper {
  padding: 60px 20px;
}

.open-article-wrapper .open-article.block h1 {
  font-size: 40px;
  font-family: var(--font-gotham);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: left;
  margin: 20px 0;
}

.open-article-wrapper .open-article.block {
  max-width: 900px;
  margin: 0 auto;
}

.open-article-wrapper .open-article.block .article-body p {
  font-family: var(--font-gotham);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #000;
  margin: 0 0 30px;
}

.open-article-wrapper .open-article.block .article-body p::first-letter {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  float: left;
  margin-right: 15px;
  font-size: 68px;
}

@media (min-width: 769px) {
  .open-article-wrapper .open-article.block .article-body p::first-letter {
    font-size: 150px;
    line-height: 85%;
  }
}

.open-article-wrapper .open-article.block .lead {
  overflow: hidden;
  margin-bottom: 20px;
  vertical-align: baseline;
}

.open-article-wrapper .open-article.block .lead img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.open-article-wrapper .open-article.block .byline {
  display: flex;
  color: black;
  font-family: var(--font-gotham);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  height: 73px;
}

.open-article-wrapper .open-article.block .byline .attribution * {
  color: black;
  text-decoration: none;
}

.open-article-wrapper .open-article.block .byline .publication {
  display: flex;
  font-weight: 400;
}

.open-article-wrapper .open-article.block .byline .publication::before {
  content: "";
  display: block;
  border-left: 2px solid #e6e6e6;
  height: 14px;
  width: 0;
  margin: 0 5px;
}

.open-article-wrapper .open-article.block .article-body .photo-credit {
  font-size: 12px;
  line-height: 16px;
  color: #adb4b7;
  margin-top: -20px;
  margin-bottom: 50px;
}

.open-article-wrapper .open-article.block .article-body img {
  width: 100%;
  height: auto;
}

.open-article-wrapper .open-article.block .article-body .portrait {
  display: flex;
  justify-content: center;
}

.open-article-wrapper .open-article.block .article-body .portrait img {
  max-width: 600px;
}
