.loop-container .loop-wrapper .loop.block {
  background-attachment: fixed;
  background-position: center 300px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22984%22%20height%3D%22978%22%3E%3Cdefs%3E%3Cmask%20id%3D%22a%22%3E%3Cellipse%20cx%3D%22492%22%20cy%3D%22489%22%20rx%3D%22492%22%20ry%3D%22489%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%20stroke-width%3D%2259%22%2F%3E%3C%2Fmask%3E%3CclipPath%20id%3D%22b%22%3E%3Cellipse%20cx%3D%22492%22%20cy%3D%22489%22%20rx%3D%22492%22%20ry%3D%22489%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cellipse%20mask%3D%22url(%23a)%22%20cx%3D%22492%22%20cy%3D%22489%22%20rx%3D%22492%22%20ry%3D%22489%22%20fill%3D%22none%22%20pointer-events%3D%22visiblePainted%22%2F%3E%3Cellipse%20clip-path%3D%22url(%23b)%22%20cx%3D%22492%22%20cy%3D%22489%22%20rx%3D%22492%22%20ry%3D%22489%22%20fill%3D%22none%22%20stroke%3D%22%23ffd600%22%20stroke-width%3D%22118%22%20pointer-events%3D%22visiblePainted%22%2F%3E%3C%2Fsvg%3E");
  display: flex;
  flex-direction: column;
}

.loop-container .loop-wrapper .loop.block * {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .loop-container .loop-wrapper .loop.block {
    background-image: none;
  }
}

.loop-container .loop-wrapper slot[name="trending"] {
  height: 220px;
  display: block;
}

@media (max-width: 768) {
  .loop-container .loop-wrapper slot[name="trending"] {
    height: 197px;
  }
}

/*
*
* Header Styling
*
*/

.loop-container .loop-wrapper .loop.block .loop-header {
  width: calc(100% - 115px - 110px);
  margin: 20px 110px 50px 115px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 10px 0 55px;
  height: 120px;
}

.loop-container .loop-wrapper .loop.block .loop-header p,
.loop-container .loop-wrapper .loop.block .loop-header h1 {
  margin: 0;
}

.loop-container .loop-wrapper .loop.block .loop-header h1 {
  text-transform: uppercase;
  position: relative;
  color: #263238;
  font-family: var(--font-archivo);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: left;
  font-size: 40px;
  width: 234px;
  margin-bottom: 6px;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-dash {
  display: inline-block;
  margin: 0 20px 22px;
  background-color: #263238;
  height: 3px;
  width: 36px;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-description {
  color: #000;
  font-family: Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.6;
  text-align: left;
  max-width: 343px;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-social-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px 8px auto;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-social-share .loop-social-share-title {
  margin-bottom: 20px;
  font-family: var(--font-work);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-social-share .loop-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-social-share .loop-social-list li a {
  overflow: hidden;
  background-color: #888;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.loop-container .loop-wrapper .loop.block .loop-header .loop-social-share .loop-social-list li svg {
  fill: white;
  width: 27px;
  max-height: 27px;
}

@media (max-width: 1280px) {
  .loop-container .loop-wrapper .loop.block .loop-header {
    width: calc(100% - 16px);
    margin-right: 0;
    margin-left: 16px;
  }

  .loop-container .loop-wrapper .loop.block .loop-header h1 {
    font-size: 35px;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-dash {
    margin-left: 0;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-description {
    max-width: 288px;
  }
}

@media (max-width: 1024px) {
  .loop-container .loop-wrapper .loop.block .loop-header h1 {
    font-size: 30px;
    width: 195px;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-dash {
    margin-left: 0;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-description {
    font-size: 12px;
    max-width: 200px;
    margin-bottom: 4px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .loop-container .loop-wrapper .loop.block .loop-header {
    margin: 25px 0;
    padding: 0 10px;
    flex-wrap: wrap;
    height: auto;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-headline {
    width: 100%;
    flex-shrink: 0;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-headline h1 {
    margin: 0 auto;
    font-size: 36px;
    width: 212px;
    text-align: center;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-dash {
    display: none;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-description {
    margin: 0;
  }

  .loop-container .loop-wrapper .loop.block .loop-header .loop-social-share {
    margin: 16px auto 0;
  }
}

/*
*
* Content Styling
*
*/

.loop-container .loop-wrapper .loop.block .loop-content-wrapper {
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1280px;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper {
  width: 33.3333%;
  max-width: 33.3333%;
  box-sizing: border-box;
  padding: 0 3% 24px;
  margin-bottom: 20px;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;
  background-color: white;
  cursor: pointer;
  padding-bottom: 35px;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card:hover {
  box-shadow: 0 0 26px 0 rgba(0 0 0 / 20%);
  color: #000;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .image-wrapper {
  height: 260px;
  width: 100%;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .image-wrapper picture {
  width: 100%;
  height: 100%;
}

.loop-container
  .loop-wrapper
  .loop.block
  .loop-content-wrapper
  .loop-card-wrapper
  .loop-card
  .image-wrapper
  picture
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.loop-container
  .loop-wrapper
  .loop.block
  .loop-content-wrapper
  .loop-card-wrapper:nth-child(odd)
  .loop-card
  .image-wrapper
  picture
  img {
  width: calc(100% - 120px);
  margin: 25px auto;
  display: block;
  max-height: 100%;
  border-radius: 50%;
  height: auto;
  aspect-ratio: 1/1;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .text-wrapper {
  min-height: 191px;
  text-align: center;
  padding: 0 25px;
  margin: 0 auto;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .text-wrapper .rubric {
  background-color: #263238;
  color: #fff;
  transition: color, background-color 0.2s;
  padding: 10px 15px;
  margin: 25px auto 15px;
  width: max-content;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-chivo-black);
  font-size: 10px;
  letter-spacing: 1.5px;
}

.loop-container
  .loop-wrapper
  .loop.block
  .loop-content-wrapper
  .loop-card-wrapper
  .loop-card:hover
  .text-wrapper
  .rubric {
  background-color: #ffd800;
  color: #000;
}

.loop-container
  .loop-wrapper
  .loop.block
  .loop-content-wrapper
  .loop-card-wrapper
  .loop-card
  .text-wrapper
  .headline
  .headline-span,
.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .text-wrapper .headline {
  color: #000;
  font-family: var(--font-work);
  font-weight: 700;
  height: 88px;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  max-lines: 3;
  overflow: hidden;
  font-size: 18px;
  text-overflow: ellipsis;
}

.loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .text-wrapper .label {
  color: #191919;
  opacity: 0.7;
  font-family: var(--font-chivo-bold);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: auto;
}

@media (max-width: 1024px) {
  .loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper {
    width: 50%;
    max-width: 50%;
    padding: 0 10px;
  }

  .loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper .loop-card .image-wrapper {
    overflow: hidden;
  }

  .loop-container
    .loop-wrapper
    .loop.block
    .loop-content-wrapper
    .loop-card-wrapper:nth-child(odd)
    .loop-card
    .image-wrapper
    picture
    img {
    max-height: none;
  }
}

@media (max-width: 768px) {
  .loop-container .loop-wrapper .loop.block .loop-content-wrapper .loop-card-wrapper {
    width: 100%;
    max-width: 100%;
  }
}

.loop {
  padding-top: 220px;
  position: relative;
}

.trending-banner {
  position: absolute;
  top: 0;
}
