body.gallery {
  background-color: unset;
  font-family: GothamGD, arial, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
}

.gallery a {
  color: #000;
  text-decoration: none;
}

.gallery .article-header {
  margin-bottom: 30px;
  max-width: 1000px;
}

.gallery .article-topline {
  display: flex;
  align-items: center;
}

.gallery .publish-date {
  font-family: GothamGD, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 22px;
  margin-left: 3px;
}

@media (min-width: 769px) {
  .gallery .publish-date {
    font-size: 14px;
    line-height: 22px;
  }
}

.gallery .rubric,
.gallery .publish-date {
  color: #adb4b7;
}

.gallery .rubric {
  font-family: GothamGD, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 11.48px;
}

.gallery .content-area {
  width: 1440px;
}

.gallery .site-container {
  display: flex;
  width: 1440px;
  max-width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .gallery .content-area,
  .gallery .site-container {
    width: 768px;
  }
}

.gallery .site-container .content-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  flex-direction: row;
  margin-right: -10px;
  margin-left: -10px;
}

.gallery .acticle {
  display: block;
}

.gallery .site-container .left-col {
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .gallery .site-container .left-col {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 0 71.4286%;
    max-width: 71.4286%;
  }
}

.gallery .article-headerline {
  margin-bottom: 30px;
}

.gallery .article-title {
  text-align: left;
  margin-top: 0;
}

.gallery .article-byline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-byline a {
  text-decoration: none;
}

.attribution .attribution-author-label,
.attribution a {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  color: var(--black);
}

.attribution-container {
  font-family: GothamGD, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 20px;
  margin-right: 3px;
}

.publish-date-container {
  display: flex;
  align-items: baseline;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 22px;
  flex-grow: 1;
}

.gallery h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0.75em 0 0.6em;
}

.gallery p {
  margin-bottom: 30px;
}

.gallery h1,
.gallery p {
  line-height: 1.33em;
}

.gallery .article-title,
.gallery .article-title-text {
  font-family: GothamGD, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

@media (min-width: 769px) {
  .gallery .article-title,
  .gallery .article-title-text {
    font-size: 40px;
    line-height: 44px;
  }
}

.gallery .article-lead .article-lead-description p {
  font-family: GothamGD, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
}

@media (min-width: 769px) {
  .gallery .article-lead .article-lead-description p {
    font-size: 18px;
    line-height: 30px;
  }
}

.gallery .social-share-container {
  justify-content: center;
  flex-direction: row;
  margin-bottom: 28px;
}

.gallery .socialshare-share-label {
  display: none;
}

.social-share-container .socialshare-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery .social-share-container,
.gallery .social-share-container .socialshare-icons {
  display: flex;
  align-items: center;
}

.social-share-container .socialshare-icons li {
  display: block;
  margin-bottom: 10px;
}

.social-share-container .socialshare-icons .social-share-btn {
  fill: #fff;
  background: #3b5998;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin: 0 0 0 10px;
}

.socialshare-label {
  display: none;
}

.socialshare-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 17.5px;
  background: #2c2c2c;
}

.social-share-container .socialshare-icon {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  color: #fff;
}

.social-share-bottom {
  display: flex;
  justify-self: start;
}

.social-share-bottom .social-share-container {
  margin-top: 30px;
}

.gallery .ad-container {
  position: relative;
}

@media (max-width: 1280px) {
  .gallery .right-col {
    display: none;
  }
}
