.footer > div {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 2rem;
  background-color: black;
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer .disclaimer, .copyright {
  margin-top: 15px;
  margin: 1;
  text-align: center;
}

.footer .disclaimer a {
  color: red;
}

.footer .disclaimer a:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer h1 {
  text-transform: capitalize;
  color: white;
}

.footer ul {
  list-style-type: none;
}