footer {
  padding: 2rem;
  background-color: black;
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 1;
  text-align: center;
}

footer .footer a {
  color: red;
}

.footer .columns a {
  color: white;
}

.footer .columns a:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer .columns h1 {
  text-transform: capitalize;
  color: white;
}

.footer .columns ul {
  list-style-type: none;
}