.footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.footer > div > div:last-child {
  grid-row: 3;
  grid-column: 1 / -1;
}

footer {
  padding: 2rem;
  background-color: var(--off-black);
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  max-width: var(--main-container-width);
  margin: auto;
}

.footer .disclaimer, .copyright {
  margin-top: 15px;
  margin: 1;
  text-align: center;
}

.footer .disclaimer a {
  color: red;
}

.footer .disclaimer a:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer h1 {
  color: white;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}
