
.editors-note-wrapper .editors-note.block .editors-note-content i {
  font-size: 16px;
  font-family: var(--font-gotham);
  font-weight: 500;
}

@media (min-width: 769px) {
  .editors-note-wrapper .editors-note.block .editors-note-content i {
    font-size: 18px;
  }
}

.editors-note-wrapper .editors-note.block .editors-note-content i a {
  color: #00e;
}
