/* custom fonts */
@font-face {
    font-family: Tungsten;
    src: url('/styles/fonts/Tungsten/Tungsten-Book_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Tungsten;
    src: url('/styles/fonts/Tungsten/Tungsten-Medium_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Tungsten;
    src: url('/styles/fonts/Tungsten/Tungsten-Semibold_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Tungsten;
    src: url('/styles/fonts/Tungsten/Tungsten-Bold_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Tungsten;
    src: url('/styles/fonts/Tungsten/Tungsten-Black_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('/styles/fonts/Gotham/Gotham-Book_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('/styles/fonts/Gotham/Gotham-BookItalic_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url('/styles/fonts/Gotham/Gotham-Medium_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('/styles/fonts/Gotham/Gotham-MediumItalic_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url('/styles/fonts/Gotham/Gotham-Bold_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('/styles/fonts/Gotham/Gotham-BoldItalic_Web.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
