body {
    font-family: Gotham,arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container-site {
    padding-top: 0;
}

.rubric:has(span:empty) {
    display: none;
}

.assetTitle-Headline {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 16px;
    margin-top: 0;
}

@media (min-width: 769px) {
    .assetTitle-Headline {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (min-width: 769px) {
    .assetTitle-Headline {
        margin-bottom:28px
    }
}

.assetTitle-Headline .assetTitle-HeadlineText {
    font-size: 100%;
    margin-top: 0;
    line-height: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .005em;
    text-align: center;
}

.default-content-wrapper p {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-family: GothamGD,arial,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
}

.articleByline {
    margin-bottom: 50px;
    align-items: center;
}

.default-content-wrapper a {
    text-decoration: none;
}

.attribution {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0;
}

.o-Attribution {
    line-height: 14px;
    display: flex;
    align-items: center;
    font-family: GothamGD,arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 14px;
}

@media (min-width: 769px) {
    .o-Attribution, .o-AssetPublishDate {
        font-size: 16px;
    }
}

.o-Attribution a {
    font-size: inherit;
}

.o-AssetPublishDate {
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.articleByline .o-SocialShare__a-ShareLabel {
    display: none;
}
