.rubric {
    margin-right: 14px;
    background-color: #263238;
    color: #fff;
    font-family: chivo-black,Georgia,serif;
    font-size: 9px;
    letter-spacing: 1px;
    padding: 9px 15px;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

@media (min-width: 769px) {
    .rubric {
        font-size: 10px;
    }
}
