* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.article-content {
    width: 100%;
    max-width: 100%;
}

.article-body {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: auto;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}