:root {
  /* fonts */
  --font-gotham: 'Gotham', helvetica, ubuntu, roboto, noto, sans-serif;
  --font-tungsten: 'Tungsten', helvetica, ubuntu, roboto, noto, sans-serif;
  --body-font-family: var(--font-gotham);
  --heading-font-family: var(--font-tungsten);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
  --main-container-width: 1440px;
  --article-container-width: 912px;

  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  --white:               #FFFFFF;
  --off-white-light:     #F6F6F6;
  --off-white:           #EDEDED;
  --off-white-dark:      #E6E6E6;
  --grey:                #ADB4B7;
  --ad-grey:             #FAFAFA;
  --off-black-light:     #1F2022;
  --off-black:           #151517;
  --black:               #000000;
  --play-light:          #13626B;
  --play:                #105259;
  --play-dark:           #0B3B40;
  --news-light:          #ff414d;
  --news:                #ed3e49;
  --news-dark:           #d43741;
  --loop-light:          #FAC852;
  --loop:                #E8B94D;
  --loop-dark:           #E0B34A;
  --longform-divider:    #CBCBCB;
}

body {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  line-height: 1.6;
  display: none;
}

body.appear {
  display: unset;
}

body > header {
  min-height: 203.58px;
}

.default-content-wrapper:first-of-type > p:first-child {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: left;
}

/* p, dl, ol, ul, pre, blockquote { */
/*   margin-top :0; */
/*   margin-bottom: 1em; */
/* } */

/* buttons */
a.button:any-link, button {
  font-family: var(--font-gotham);
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 10px 28px;
  background: var(--news);
  color: var(--white);
  border: 2px solid var(--news);
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  cursor: pointer;
  background: none;
  color: var(--news);
  border: 2px solid var(--news);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
}

main .image p:last-of-type {
  color: var(--grey);
  font-size: var(--body-font-size-xs);
}
.image-wrapper {
  margin-bottom: 60px;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main > .section {
  padding: 15px;
  display: grid;
  grid-template: 
  "hed "
  "by  "
  "img " 
  "body"
  "side"
  /100%
}

@media (min-width: 600px) {
  main > .section {
    grid-template-columns: auto 136px 776px 512px auto;
    grid-template-areas: 
    "...  hed   hed   side  ..."
    "...  by    by    side  ..."
    "...  img   img   side  ..."
    "...  ...   body  side  ..."
  }
}

main > .section > * {
  grid-column: 1 / -1;
}

@media (min-width: 600px) {
  main > .section > * {
    grid-column: 3 / 4;
  }
}

/* Main article content */
main > .section > div:nth-child(4) {
  grid-area: body;
}

/* Article typography styles */
/* */
main > .section > div:nth-child(4) p {
  font-family: var(--font-gotham);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  text-align: left;
  margin-bottom: 60px;
}


.o-ArticleByline {
  display: flex;
  flex-wrap: wrap;
}

.o-ArticleByline a {
  text-decoration: none;
}

.o-Attribution, .o-Attribution a {
  /* font-family: $font-gotham; */
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;

}

.o-AssetPublishDate {
  display: flex;
  align-items: baseline;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey);
}

.o-AssetPublishDate:before {
  content: '';
  display: block;
  border-left: 2px solid var(--off-white-dark);
  height: 14px;
  margin: 0 5px;
}

.o-ArticleByline .share {
  flex-grow: 1;
}
.o-ArticleByline .o-SocialShare {
  display: flex;
  margin: 0;
}
.o-ArticleByline .m-SocialIcons {
  display: flex;
  justify-content: flex-end;
}

a {
  color: inherit;
  font-weight: 500;
}

a:hover {
  color: var(--news);
}

h2 {
  display: inline;
  font-family: var(--font-tungsten);
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.05em;
  border-bottom: 2px solid var(--news);
  margin: 0;
  text-align: center;
  align-self: center;
} 

@font-face {
  font-family: 'Tungsten';
  src: url('/styles/fonts/Tungsten/Tungsten-Book_Web.woff2') format('woff2');
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tungsten';
  src: url('/styles/fonts/Tungsten/Tungsten-Medium_Web.woff2') format('woff2');
  font-display: fallback;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Tungsten';
  src: url('/styles/fonts/Tungsten/Tungsten-Semibold_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Tungsten';
  src: url('/styles/fonts/Tungsten/Tungsten-Bold_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Tungsten';
  src: url('/styles/fonts/Tungsten/Tungsten-Black_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/styles/fonts/Gotham/Gotham-Book_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/styles/fonts/Gotham/Gotham-BookItalic_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('/styles/fonts/Gotham/Gotham-Medium_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/styles/fonts/Gotham/Gotham-MediumItalic_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('/styles/fonts/Gotham/Gotham-Bold_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/styles/fonts/Gotham/Gotham-BoldItalic_Web.woff2') format('woff2'); 
  font-display: fallback;
  font-weight: 700;
  font-style: italic;
}
